HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/presentation/src/main/resources/*.yml
**/presentation/src/main/resources/firebase/*.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### MySQL 관련 파일
*.ibd
*.sdi
*.cnf
mysql.sock
db/mysql/data/*
db/mysql/data/way/*
db/mysql/data/performance_schema/*
db/mysql/data/#innodb_redo/*
db/mysql/data/binlog.*

### InnoDB redo 로그 파일
ib_*_tmp
ib_*.dblwr

### Redis 관련 파일 (필요한 경우)
dump.rdb
appendonly.aof